NODE_ENV=production
PORT=3000
HOST=0.0.0.0

SMTP_HOST=smtp.privateemail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=contato@l7talents.online
SMTP_PASS=L7rh@mogi2026

CONTACT_EMAIL=contato@l7talents.online
ADMIN_EMAIL=contato@l7talents.online

APP_NAME=L7 Talents
APP_URL=https://l7talents.online
CORS_ORIGIN=https://l7talents.online

